<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Stock</title>
</head>
<body>

    <div id="k35lineChart" style="height:300px"></div>
    <div id="kstandardChart" style="height:300px"></div>
    <div id="volumeChart" style="height:300px"></div>
    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
    <script type="text/javascript">

        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        

        require(
            [
                'echarts',
                'echarts/chart/k', 
                'echarts/chart/bar',
                'echarts/chart/line'
            ],
            function (ec) {

                var myLChart = ec.init(document.getElementById('k35lineChart')); 
                
                var option = ${option1}
        
                myLChart.setOption(option); 

                // var myKChart = ec.init(document.getElementById('kstandardChart')); 
                
                // var option2 = $option2}

                // myKChart.setOption(option2); 
        
                // var myALChart = ec.init(document.getElementById('volumeChart')); 
                
                // var option3 = $option3}

                // myALChart.setOption(option3); 
            }
        );
    </script>
</body>